html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    border: none;
}

canvas {
    display: block;
    height: 100%;
    width: 100%;
    background: purple;
}

#options {
    position: absolute;
    right: 0;
    top: 0;
    background: lightgray;
    padding: 15px;
    border-radius: 15px;
    margin: 5px;
}

select {
    display: block;
}
